<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <h3>Other Nissan Sites</h3>
            <a href="https://www.nissan.com.tr/" target="_blank"> <i class="fas fa-map-marker-alt"></i> TÜRKİYE </a>
            <a href="https://www.nissanusa.com/contact-us.html" target="_blank"> <i class="fas fa-map-marker-alt"></i> USA </a>
            <a href="http://www.nissan.co.jp/" target="_blank"> <i class="fas fa-map-marker-alt"></i> JAPAN </a>
            <a href="https://www.nissan.fr/" target="_blank"> <i class="fas fa-map-marker-alt"></i> France </a>
            <a href="https://www.nissan.de/" target="_blank"> <i class="fas fa-map-marker-alt"></i> Germany </a>            
        </div>

        <div class="box">
            <h3>Quick Links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="#gtr-models"> <i class="fas fa-arrow-right"></i> GTR Models </a>           
            <a href="#contact"> <i class="fas fa-arrow-right"></i> Contact </a>
        </div>

        <div class="box">
            <h3>NISSAN MOTOR CORPORATION (JAPAN)</h3>
            <a href="#"> <i class="fas fa-phone"></i> +81-45-523-5523 </a>
            <a href="#"> <i class="fas fa-phone"></i> +81-46-867-5142 </a>
            <a href="#"> <i class="fas fa-envelope"></i> nissan-ir@mail.nissan.co.jp </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> 1-1, Takashima 1-chome, Nishi-ku, Yokohama-shi, Kanagawa 220-8686, Japan </a>
        </div>

        <div class="box">
            <h3>Social Media - Fırat YILDIZ</h3> 
            <a href="https://www.instagram.com/frat.yz2" target="_blank"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="https://tr.linkedin.com/in/frtyz-6a37b6189" target="_blank"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="https://github.com/FRTYZ" target="_blank"> <i class="fab fa-github"></i> Github </a>
        </div>
        <div class="box">
            <h3>Sources of Articles in the Project (Thanks)</h3> 
            <a href="http://www.j-garage.com/" target="_blank"> <i class="fas fa-arrow-right"></i> J's Garage Export Co., Ltd </a>
            <a href="https://www.autoevolution.com" target="_blank"> <i class="fas fa-arrow-right"></i> autoevolution </a>
            <a href="https://www.carexpert.com.au/" target="_blank"> <i class="fas fa-arrow-right"></i> CarExpert Pty Ltd  </a>
            <a href="https://www.edmunds.com/" target="_blank"> <i class="fas fa-arrow-right"></i> Edmunds </a>
        </div>


    </div>

    <div class="credit"> Developer By Fırat YILDIZ </div>

</section>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="/static/user/js/script.js"></script>
<script src="/static/path/to/bower_components/htmlspecialchars/index.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/35.2.1/ckeditor.min.js"></script>
