<header class="header">

    <div id="menu-btn" class="fas fa-bars"></div>

    <a href="/" class="logo"> <img src="/static/user/image/logo.png"> </a>

    <nav class="navbar">
         <!-- class="<%= title == "Nissan GTR" ? "active" : "" %>"    -->
            <a href="/#" >Home Page</a>            
            <a href="#gtr-models">GT <span style="color:red">R</span> Models</a>             
            <a href="#r35" >R<span style="color:red">-</span>35</a>           
            <a href="#contact" >Contact</a>        
    </nav>

  
</header> 