<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/static/auth/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/auth/css/all.min.css">
<script src="/static/auth/js/jquery-3.4.1.min.js"></script>
<script src="/static/auth/js/bootstrap.min.js"></script>
<script src="/static/auth/js/login.js"></script>
<style>
    body {
        background: url("/static/user/image/Godzilla.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #mylogo {
        background-color:#a3aab1;
        height:70%;
        opacity: 0.5;
    }
</style>